<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上传图片</title>
    <script src="/public/js/jquery3.4.1.min.js"></script>
    <script src="/public/js/file.js"></script>
    <link rel="stylesheet" href="/public/css/file.css">
</head>

<body>
    <div class="outbox">
        <div class="skbox">
            <a href="javascript:void(0)">上传<input type="file" name="pic" id="pic"
                    accept="image/jpeg,image/jpg,image/png,image/svg"></a>
        </div>
        <span></span>
        <div class="imgbox"><img src="http://127.0.0.1:3002/public/image/1580978896394.jpg"></div>
    </div>
</body>
</html>